.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

Button {
  margin:10px;
}

@keyframes example {
  from {color: rgba(212, 212, 212, 0)}
  to {color: rgb(224, 224, 224)}
}

.result{
  width: 90%;
  padding: 1%;
  animation-delay: 2s;
  animation-name: example;
  animation-duration: 1.5s;
  animation-timing-function: ease;
}

